@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Tələbərin Siyahısı</h1>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Sinif</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td><button class="btn btn-info">Dəyiş</button></td>
                <td><button class="btn btn-danger">Sil</button></td>
            </tr>

        }
    </tbody>
</table>
<a href="/Student/Create" class="btn btn-primary">Yarat</a>

